.github-logo,
.rs-logo {
  width: 50px;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid var(--footer-border0top-color);
  height: 100px;
  padding: 0px 20px;
  width: 100%;
}

.github,
.school {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

a {
  text-decoration: none;
  color: var(--footer-text-a);
}
