:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --bg: #fff;
  --text: #222;

  --btn-bg: #df8eda;
  --btn-text: #222;
  --btn-hover-border: #242424;

  --header-item-a-color: #222;
  --header-border-bottom: rgba(51, 50, 50, 0.5);

  --detail-view-border-left-color: rgba(39, 38, 38, 0.5);

  --footer-border0top-color: rgba(39, 38, 38, 0.5);
  --footer-text-a: rgb(30, 30, 30);

  --search-input-bg: #fff;
  --search-input-text: #3d3d3d;
  --checkbox-bg: #fff;
}

:root.light {
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);

  --btn-bg: #1a1a1a;
  --btn-text: #e06bf2;
  --btn-hover-border: #e06bf2;
  --btn-hover-text: #e06bf2;

  --header-item-a-color: #fff;
  --header-border-bottom: rgba(255, 255, 255, 0.5);

  --detail-view-border-left-color: rgba(255, 255, 255, 0.5);
  --footer-border0top-color: rgba(255, 255, 255, 0.5);
  --footer-text-a: azure;

  --search-input-bg: inherit;
  --search-input-text: #e3e2e2;
  --checkbox-bg: inherit;
}

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: var(--btn-text);
  border-radius: 8px;
  border: 1px solid var(--btn-hover-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--btn-hover-border);
  color: var(--btn-hover-text);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.layout-main {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 2;
  padding: 1rem;
}

.detail-view {
  flex: 1;
  border-left: 1px solid #ddd;
  padding: 1rem;
}


